<h1>this is a school class</h1>
<h3><%= @school_class.title %></h3>
<p><%= "Room #{@school_class.room_number}" %></p>
<p><%= link_to "edit", edit_school_class_path %></p>
<p><%= link_to "back to all classes", school_classes_path %></p>
